{% extends "admin_partition/base.html" %}

{% block body %}
 
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Add Products</h2>
                <p>Make sure the data are valid one</p>
            </div>
            <div>
                <a href="#" class="btn btn-light rounded font-md">Export</a>
                <a href="#" class="btn btn-light rounded  font-md">Import</a>
                <a href="#" class="btn btn-primary btn-sm rounded">Create new</a>
            </div>
        </div>
        
        {% if form.errors %}
<div class="alert alert-danger">
    <strong>Form errors:</strong>
    <ul>
        {% for field, errors in form.errors.items %}
        <li>{{ field }}: {{ errors }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
    
    <form action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
    <br>
    <a href="{% url 'product:add_brand' %}">
        <button class="btn btn-danger">Brand</button>
    </a>
    <a href="">
        <button type="submit" class="btn btn-danger mx-3">Add</button>
    </a>
</section>


{% endblock body %}