{% extends 'user_partition/order/base.html' %}
{% load static %}
{% block head %}
    <link href="{% static 'css/user_order/style.css' %}" rel="stylesheet">
    {% endblock head %}
{% block body %}
  <div class="container mt-5 mb-5" id="container_content">
    <div class="row d-flex justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="text-left logo p-2 px-5">
            <img src="https://i.imgur.com/2zDU056.png" width="50" />
          </div>

          <div class="invoice p-5">
            <h5>Your order Confirmed!</h5>

            <span class="font-weight-bold d-block mt-4">Hello {{user_order.user.username}},</span>
            <span>You order has been confirmed and will be shipped in next two days!</span>

            <div class="payment border-top mt-3 mb-3 border-bottom table-responsive">
              <table class="table table-borderless">
                <tbody>
                  <tr>
                    <td>
                      <div class="py-2">
                        <span class="d-block text-muted">Order Date</span>
                        <span>{{user_order.created_at}}</span>
                      </div>
                    </td>
                    <td>
                      <div class="py-2">
                        <span class="d-block text-muted">Order No</span>
                        <span>{{user_order.order_number}}</span>
                      </div>
                    </td>
                    <td>
                      <div class="py-2">
                        <span class="d-block text-muted">Payment</span>
                        <span>

                          {% comment %} <img src="https://img.icons8.com/color/48/000000/mastercard.png" width="20" /> {% endcomment %}
                          {{user_order.payment.payment_method}} </span>
                      </div>
                    </td>
                    <td>
                      <div class="py-2">
                        <span class="d-block text-muted">Shiping Address</span>
                        <span>
                          {{user_order.shipping_address.address_line_1}}, {{user_order.shipping_address.city}}, {{user_order.shipping_address.state}},<br>
                          {{user_order.shipping_address.country}},<br>
                          {{user_order.shipping_address.phone}}.<br>
                          {{user_order.shipping_address.user.email}},
                        </span>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="product border-bottom table-responsive">
              <table class="table table-borderless">
                <tbody>
                  {% for item in order_items %}
                  <tr>
                    <td width="20%">
                      <img src="{{item.product.thumbnail_image.url}}" width="90" />
                    </td>
                    
                    <td width="60%">
                      <span class="font-weight-bold">{{item.product.description}}</span>
                      <div class="product-qty">
                        <span class="d-block">Quantity:{{item.quantity}}</span>
                        {% comment %} <span>Color:Dark</span> {% endcomment %}
                      </div>
                    </td>
                    <td width="20%">
                      <div class="text-right">
                        <span class="font-weight-bold">₹{{item.product.sale_price}} </span>
                      </div>
                    </td>
                  </tr>
                    {% endfor %}
                </tbody>
              </table>
            </div>

            <div class="row d-flex justify-content-end">
              <div class="col-md-5">
                <table class="table table-borderless">
                  <tbody class="totals">
                    <tr>
                      <td>
                        <div class="text-left">
                          <span class="text-muted">Subtotal</span>
                        </div>
                      </td>
                      <td>
                        <div class="text-right">
                          <span>₹{{user_order.order_total}}</span>
                        </div>
                      </td>
                    </tr>

                    <tr>
                      <td>
                        <div class="text-left">
                          <span class="text-muted">Shipping Fee</span>
                        </div>
                      </td>
                      <td>
                        <div class="text-right">
                          <span>₹100</span>
                        </div>
                      </td>
                    </tr>


                    <tr>
                      <td>
                        <div class="text-left">
                          <span class="text-muted">Wallet</span>
                        </div>
                      </td>
                      <td>
                        <div class="text-right">
                          <span class="text-success">-₹{{user_order.wallet_discount}}</span>
                        </div>
                      </td>
                    </tr>
                    

                    <tr>
                      <td>
                        <div class="text-left">
                          <span class="text-muted">Discount</span>
                        </div>
                      </td>
                      <td>
                        <div class="text-right">
                          <span class="text-success">₹{{user_order.additional_discount}}</span>
                        </div>
                      </td>
                    </tr>

                    <tr class="border-top border-bottom">
                      <td>
                        <div class="text-left">
                          <span class="font-weight-bold">total</span>
                        </div>
                      </td>
                      <td>
                        <div class="text-right">
                          <span class="font-weight-bold">₹{{user_order.payment.amount_paid}}</span>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <p>We will be sending shipping confirmation email when the item shipped successfully!</p>
            <p class="font-weight-bold mb-0">Thanks for shopping with us!</p>
            <span>Lunar_edge Team</span>
          </div>
          <div class="d-flex justify-content-between footer p-3">
            <span> Download Invoice <a id="invoice" href="">Click here</a></span>
            <span>{{user_order.created_at}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
  
  <script>
    document.getElementById("invoice").addEventListener("click", print_doc);
    function print_doc(){
      window.print()
    }
  </script>
{% endblock %}
