{% extends "user_partition/profile/profilebase.html" %}

{% block content %}
<div class="col-md-4">
    <div class="card mb-3 mb-lg-0">
        <div class="card-header">
            <h5 class="mb-0">Billing Address</h5>
        </div>
        <div class="card-body">
            <address>3522 Interstate<br> 75 Business Spur,<br> Sault Ste. <br>Marie, MI 49783</address>
            <p>New York</p>
            <a href="#" class="btn-small">Edit</a>
        </div>
    </div>
</div>
{% endblock content %}