{% extends "user_partition/profile/profilebase.html" %}

{% block content %}
<div class="col-md-8">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr class="text-center">
                    <th>Order</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Total</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for order in order_details %}
                <tr class="text-center">
                    <td>#{{order.id}}</td>
                    <td>{{order.created_at}}</td>
                    <td>{{order.order_status}}</td>
                    <td>${{order.order_total}}</td>
                    <td><a href="{% url 'user_profile:order_details' id=order.id %}" class="btn-small d-block">View</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}