{% extends "user_partition/profile/profilebase.html" %}

{% block content %}
<div class="col-md-8">
    <div class="table-responsive">
        <table class="table shopping-summery text-center">
            <thead>
                <tr class="main-heading">
                    <th scope="col" colspan="2">Product</th>
                    <th scope="col">Price</th>
                    {% comment %} <th scope="col">Stock Status</th> {% endcomment %}
                    <th scope="col">Action</th>
                    <th scope="col">Remove</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td class="image product-thumbnail">
                        <img src="{{product.product.thumbnail_image.url}}" alt="#" class="img-fluid">
                      </td>
                    <td class="product-des product-name">
                        <h6 class="product-name"><a href="#">{{product.product.description}}</a></h6>
                        </p>
                    </td>
                    <td class="price" data-title="Price"><span>₹{{product.product.sale_price}} </span></td>
                    {% comment %} <td class="text-center" data-title="Stock">
                        <span class="color3 font-weight-bold">In Stock</span>
                    </td> {% endcomment %}
                    <td class="text-right" data-title="Cart">
                        <button class="btn btn-sm"><a class="text-decorator-none" href="{% url "user_cart:add_to_cart" id=product.id %}"><i class="fa-solid fa-cart-shopping"></i>Add to cart</a></button>
                    </td>
                    <td class="action" data-title="Remove"><a href="{% url "user_profile:remove_wishlist" id=product.id %}"><i class="fa-solid fa-trash"></i></a></td>
                </tr>
                {% endfor %}
                
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}