{% extends "user_partition/user_page/base.html" %}

{% block body %}

    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="#">Home</a>
                    <a class="breadcrumb-item text-dark" href="#">Shop</a>
                    <span class="breadcrumb-item active">Shop List</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Shop Start -->
    <div class="container-fluid">
        
        <div class="row px-xl-5">
            <!-- Shop Sidebar Start -->
            <div class="col-lg-3 col-md-4">
                <form class="d-flex" action={% url "user_home:search" %} role="search" method="POST"> {% csrf_token %}
                    <input class="form-control me-2" name="search" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                <!-- Color Start -->
                <h6 class="text-uppercase mt-sm-3 mt-xs-2">All Category ({{categories|length}})</h6>
                <div class="bg-light p-4 mb-30">
                    <form>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <button type="button" class="btn btn-light">
                                 <a class="text-decoration-none" href="{% url "user_home:category" id=99 %}">All Items</a>
                                </button>
                        </div>
                        {% for category in categories %}
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <button type="button" class="btn btn-light">
                                 <a class="text-decoration-none" href="{% url "user_home:category" id=category.id %}">{{category.category_name}}</a>
                                </button>
                        </div>
                        {% endfor %}
                    </form>
                </div>

                
                <!-- Color End -->


                <!-- Price Start -->
                {% comment %} <
                    
                > {% endcomment %}
                <!-- Price End -->
                
            </div>
            <!-- Shop Sidebar End -->


            <!-- Shop Product Start -->
            <div class="col-lg-9 col-md-8">
                <div class="row pb-3">
                    <div class="col-12 pb-1">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <div>
                                <button class="btn btn-sm btn-light"><i class="fa fa-th-large"></i></button>
                                <button class="btn btn-sm btn-light ml-2"><i class="fa fa-bars"></i></button>
                            </div>
                            <div class="ml-2">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">Sorting</button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="{% url 'user_home:sort_by' att="-created_at" %}">Latest</a>
                                        <a class="dropdown-item" href="{% url 'user_home:sort_by' att="sale_price" %}">Low-High</a>
                                        <a class="dropdown-item" href="{% url 'user_home:sort_by' att="-sale_price" %}">High-Low</a>
                                    </div>
                                </div>
                                <div class="btn-group ml-2">
                                    <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">Showing</button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">10</a>
                                        <a class="dropdown-item" href="#">20</a>
                                        <a class="dropdown-item" href="#">30</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% for product in products %}
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="{{ product.thumbnail_image.url }}" alt="">
                        <div class="product-action">
                            <a class="btn btn-outline-dark btn-square" href="{% url 'user_cart:add_to_cart' id=product.id %}"><i class="fa fa-shopping-cart"></i></a>
                            <!-- <a class="btn btn-outline-dark btn-square" href="{% url 'user_profile:add_wishlist' id=product.id %}"><i class="far fa-heart"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a> -->
                            <a class="btn btn-outline-dark btn-square" href='{% url "user_home:product_details" slug=product.product_variant_slug %}'><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <div class="text-center py-4">
                        <p class="h6 text-decoration-none text-truncate p-2" href="">{{product.product.product_name}}</p>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5>₹{{product.sale_price}} </h5><h6 class="text-muted ml-2"><del>₹{{product.max_price}} </del></h6>
                        </div>
                        <div class="d-flex align-items-center justify-content-center mb-1">
                            <small class="fa fa-star text-warning mr-1"></small>
                            <small class="fa fa-star text-warning mr-1"></small>
                            <small class="fa fa-star text-warning mr-1"></small>
                            <small class="fa fa-star text-warning mr-1"></small>
                            <small class="fa fa-star text-warning mr-1"></small>
                            <small>({{product.stock}})</small>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
                    
                    
                    <div class="col-12">
                        <nav>
                          <ul class="pagination justify-content-center">
                            <li class="page-item disabled"><a class="page-link" href="#">Previous</span></a></li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                          </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- Shop Product End -->
        </div>
    </div>
    <!-- Shop End -->
{% endblock body %}